# Archivos de entorno y secretos
.env

# Entornos virtuales
venv/
env/

# Archivos de caché de Python
__pycache__/
*.pyc

# Bases de datos locales
*.db
uagrm_enterprise.db

# Carpetas temporales de ChromaDB y PDFs
data/