fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
python-jose
bcrypt
python-multipart
langchain
langchain-groq
langchain-community
pymupdf
pytesseract
streamlit
streamlit-cookies-controller
python-dotenv
requests
numpy
scikit-learn
pillow
opencv-python-headless
rapidocr-onnxruntime
llama-parse